.grid-container
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 20% 20% 20% 20% 20%;
  padding: 10px;

.grid-item
  background-color: white;
  border: 1px solid black;
  padding: 30px;
  font-size: 30px;
  text-align: center;

.float
  position: fixed
  width: 60px
  height: 60px
  bottom: 40px
  right: 40px
  background-color: #c74028
  color: #FFF
  border-radius: 50px
  text-align: center
  box-shadow: 2px 2px 3px #999
  z-index: 100

.my-float
  margin-top: 22px
